@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = null;
}
@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> labelLocal
@inject ILocalizationService localizationService;
@{
    var dil = localizationService.GetCulture();
}
@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
#if (DEBUG)
    }
    <meta name="robots" content="noindex">
    @{
#else
    }

    @{
#endif
    }
    <title>@ViewData["Title"] - BazWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/AdminLTE/dist/css/adminlte.css" rel="stylesheet" />
    <script src="~/lib/AdminLTE/plugins/jquery/jquery.js"></script>
    <script src="~/lib/AdminLTE/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/AdminLTE/dist/js/adminlte.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script>*@
    <script src="~/lib/signalr-1-1-4/signalr.js"></script>
    <script src="~/lib/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <link type="text/css" href="~/lib/AdminLTE/plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/css/All/General.css" rel="stylesheet" />
    <link href="~/css/All/Login.css" rel="stylesheet" />
    <link href="~/css/All/Activation.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap" rel="stylesheet">

    @if (dil == "tr-TR")
    {

        <script src="~/js/Lang/LangToastTr.js"></script>
    }
    else
    {
        <script src="~/js/Lang/LangToastEn.js"></script>
    }
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BazWebApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="login-page">
                <div class="col-12 row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 BackLeft d-none d-lg-block d-xl-block">
                        <div>
                            <h1 class="ProjectTittle">BAZ PROJE</h1>
                        </div>
                        <!-- svg -->
                        <div class="ImageDivLogin">
                            
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="login-page">
                            <div class="login-box">
                                <div class='text-center'> <p class='' id="alertDiv" style="display:none;"></p></div>
                                <!-- /.login-logo -->
                                <div class="card">
                                    <div class="card-body login-card-body">
                                        <p class="login-box-msg">@localizator["Şifrenizi mi unuttunuz? Lütfen e-posta adresinizi ilgili alana giriniz."].Value</p>

                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" id="sifreYenileMail" placeholder="E-mail">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-envelope"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="button" class="btn add-buttons-nofloat" onclick="SifreYenilemeIstegi()">@localizator["Gönder"].Value</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        @*<p class="mt-3 mb-1">
                                                <a href="login.html">Login</a>
                                            </p>
                                            <p class="mb-0">
                                                <a href="register.html" class="text-center">Register a new membership</a>
                                            </p>*@
                                    </div>
                                    <!-- /.login-card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - BazWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/tools.js" asp-append-version="true"></script>
    <script src="~/js/PasswordJS.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SifreYenilemeIstegi();
                }
            });
        });
    </script>
</body>
</html>
<style>
    body {
        font-family: 'Encode Sans', sans-serif !important;
    }

    .add-buttons-nofloat {
        width: 100%;
    }

    .login-box-msg, .register-box-msg {
        font-size: 1em;
    }
</style>