<script src="~/js/Model/IcerikGenel/IcerikKutuphanesiModel.js"></script>
<link href="~/css/All/IcerikGenel.css" rel="stylesheet" />
<script src="~/js/Model/IcerikGenel/IcerikMedyaModel.js"></script>
<script src="~/js/Model/IcerikGenel/IcerikHedefKitleModel.js"></script>
<script src="~/js/Model/Select2OptionModel.js"></script>
<script src="~/js/Model/KisiListesiModel.js"></script>
<script src="~/js/Model/DropDownModel.js"></script>
<script src="~/js/Services/IcerikGenel/IcerikKutuphanesiService.js"></script>
@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
<div class="container-fluid">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 liste-baslik">
                    <h1>@localizator["Duyuru Görüntüleyenler Listeleme Sayfası"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class=" model-bind">
                        <!-- /.card-header -->
                        <div class="">
                            <table style="width: 100% !important;" id="IcerikListesiViewTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@localizator["Kişi Ad-Soyad"].Value</th>
                                        <th>@localizator["Görüntüleme Zamanı"].Value</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        icerikKutuphanesiService.initializeForViewList();
    })
</script>