.spcss {
    float: right;
    margin-top: -32px;
    margin-right: 16px;
}

#InputS {
    width: 100%;
}

.container-fluid {
    font-family: 'Encode Sans', sans-serif;
}

.Lbl {
    font-size: 0.95em !important;
}

.Lbl b {
    color: red;
}
h5 b {
    color: red; 
}

.tekrarliAlanBox {
    border-bottom: 1px solid #e1e4e9;
    margin-bottom: 2vh;
}

.DilAddButton {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #8c92a9;
}

.TelefonAddButton {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #8c92a9;
}

.OkulAddButton {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #8c92a9;
}

.AdresAddButton {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #8c92a9;
}

h5 {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #8c92a9;
}

.container-fluid {
    font-family: 'Encode Sans', sans-serif;
}

.tabbable-line {
    margin-top: 2.1vh;
}

    .tabbable-line > ul {
        border-bottom: 0.5px solid #8c92a9;
    }

    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }

        .tabbable-line > .nav-tabs > li > a {
            font-family: 'Encode Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: center;
            color: #8c92a9;
        }

        .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
            border-bottom: 4px solid #ff5f00;
        }

            .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                border: 0;
                background: none !important;
                color: #333333;
            }

        .tabbable-line > .nav-tabs > li.active {
            position: relative;
        }

        .tabbable-line > .nav-tabs > li > a.active {
            border: 0;
            border-bottom: 4px solid #ff5f00;
            color: #ff5f00;
            background: none !important;
        }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
        background: none !important;
    }

.card-header {
    border: none !important;
}

.kisi-sifre-modal {
    font-family: 'Encode Sans', sans-serif;
}

#kisiListesiModalLabel {
    font-size: 1.125em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #18203f;
}

.modal-kapat {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding: 1.172vh;
    border-radius: 2px;
    background-color: #e1e4e9;
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #18203f;
}

.modal-kaydet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding: 1.172vh;
    border-radius: 2px;
    background-color: #ff5f00;
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.form-group .validationMessage {
    display: none;
    color: red;
    font-size: 1em;
    margin-top: 5px;
}

.form-group .zorunluALanLabelUyari {
    display: block !important;
}