.k-list-scroller ul {
    background-color: white !important;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    height: 15px !important;
    font-weight: 100;
}

.k-state-hover {
    background-color: #007bff;
    color: white
}

.cancel {
    float: left;
}