.grid-container > div {
    width: 16.850vw;
    /* height: 19.461vw;*/
    margin: 2.689vh 1vw 2.814vh 1vw;
    padding: 1.876vh 1.736vw 1.111vh 1.876vw;
    border-radius: 2px;
    box-shadow: 1px 0 2px 0 rgba(195, 197, 202, 0.07);
    background-color: #ffffff;
    /*width: 17.986vw;*/
    /* height: 19.461vw;*/
    /*margin: 4.689vh 1.667vw 2.814vh 1.736vw;*/
    /*padding: 1.876vh 1.736vw 1.111vh 1.876vw;*/
    /*border-radius: 2px;
        box-shadow: 1px 0 2px 0 rgba(195, 197, 202, 0.07);
        background-color: #ffffff;*/
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*padding: 10px;*/
    /*grid-gap: 10px;*/
}

.panel-card-icon {
    margin: 0 12.22vw 1.8vh 0;
    object-fit: contain;
}

.card-text {
    flex-grow: 0;
    margin: 1.407vw 0 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.8125em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #8c92a9;
}

/*.panel-card {
    width: 17.986vw;*/
    /* height: 19.461vw;*/
    /*margin: 2.689vh 0.4vw 2.814vh 0.4vw;
    padding: 1.876vh 1.736vw 1.111vh 1.876vw;
    border-radius: 2px;
    box-shadow: 1px 0 2px 0 rgba(195, 197, 202, 0.07);
    background-color: #ffffff;
}*/

.card-label {
    flex-grow: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #18203f;
    cursor: pointer;
}

.tabbable-line {
    margin-top: 2.1vh;
}

    .tabbable-line > ul {
        border-bottom: 0.5px solid #8c92a9;
    }

        .tabbable-line > .nav-tabs > li {
            margin-right: 2px;
        }

            .tabbable-line > .nav-tabs > li > a {
                font-family: 'Encode Sans', sans-serif;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: center;
                color: #8c92a9;
            }

            .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                border-bottom: 4px solid #ff5f00;
            }

                .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                    border: 0;
                    background: none !important;
                    color: #333333;
                }

            .tabbable-line > .nav-tabs > li.active {
                position: relative;
            }

            .tabbable-line > .nav-tabs > li > a.active {
                border: 0;
                border-bottom: 4px solid #ff5f00;
                color: #ff5f00;
                background: none !important;
            }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
        background: none !important;
    }

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr)
    }

        .grid-container > div {
            width: 82.986vw;
            /* height: 19.461vw;*/
            margin: 2.689vh 0 2.814vh 0;
            padding: 1.876vh 1.736vw 1.111vh 1.876vw;
            border-radius: 2px;
            box-shadow: 1px 0 2px 0 rgba(195, 197, 202, 0.07);
            background-color: #ffffff;
        }

    .card-label {
        flex-grow: 0;
        font-family: 'Encode Sans', sans-serif;
        font-size: 0.7em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #18203f;
        cursor: pointer;
    }

    .card-text {
        flex-grow: 0;
        margin: 1.407vw 0 0;
        font-family: 'Encode Sans', sans-serif;
        font-size: 0.5125em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.85;
        letter-spacing: normal;
        text-align: left;
        color: #8c92a9;
    }
}
