body {
    font-size: 100%;
}

p.tree,
ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.tree ul {
        margin-left: 1.0em;
    }

    .tree-intro,
    ul.tree li {
        position: relative;
        margin-left: 0;
        padding-left: 1em;
        margin-top: 10px;
        margin-bottom: 0;
        border-left: thin solid #e8e8e8;
    }

        ul.tree li:last-child {
            border-left: none;
        }

        ul.tree li:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 0.5em; /* width of horizontal line */
            height: 0.5em; /* vertical position of line */
            vertical-align: top;
            border-bottom: thin solid #e8e8e8;
            content: "";
            display: inline-block;
        }

        ul.tree li:last-child:before {
            border-left: thin solid #e8e8e8;
        }

.k-list-scroller ul {
    background-color: white !important;
}

.k-state-hover {
    background-color: #007bff;
    color: white
}

.card-header {
    border: none !important;
}

.cancel {
    float: left;
    margin-left: 8.5%;
}

.confirm {
    margin-right: 15%
}

.content {
    font-family: 'Encode Sans', sans-serif;
}

.content-header {
    font-family: 'Encode Sans', sans-serif;
}

.content-left {
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #8c92a9;
}

.Lbl {
    font-size: 0.95em !important;
}

.radio-label {
    font-size: 0.95em !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #071d49;
}

.k-dropdown {
    width: 100% !important;
}

input[type='radio'] {
    display: none !important;
}

.targetGroupButtons {
    background-color: #e1e4e9;
    color: #516180;
}

.active {
    background-color: #ff5f00 !important;
    color: #ffffff !important;
}

.cancel-button-target {
    background-color: #e1e4e9;
    border-left: 0.5px solid black;
    width: 3vw !important;
    /*  padding: 1.172vh 4.792vw 1.172vh 4.722vw;*/
    border-radius: 2px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #18203f;
}

.experssionInput {
    padding-right: 10px !important;
}

.removeExButton {
    width: 3vw !important;
    background-color: #e1e4e9;
    color: #516180;
    margin-left: 1vw;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .deleteTarget {
        line-height: normal;
        font-size: 0.5em;
        vertical-align: middle;
    }

    .modal-body {
        max-height: 80%;
    }
}

@media (min-width:1024px) and (max-width: 1439px) {
    .deleteTarget {
        line-height: normal;
        font-size: 0.5em;
        vertical-align: middle;
    }

    h2 {
        font-size: 1.7rem;
    }

    .modal-body {
        max-height: 80%;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .deleteTarget {
        line-height: normal;
        font-size: 0.5em;
        vertical-align: middle;
    }

    h2 {
        font-size: 1.6rem;
    }

    .modal-body {
        max-height: 80%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .deleteTarget {
        line-height: normal;
        font-size: 0.5em;
        vertical-align: middle;
    }

    h2 {
        font-size: 1.5rem;
    }

    .modal-dialog {
        width: 80%;
        left: 10%;
        top: -1px;
        max-height: 80%;
    }

    .modal-body {
        max-height: calc(100vh - 143px);
        overflow-y: auto;
    }
}