﻿ <!-- Content Wrapper. Contains page content -->
<link href="~/css/All/404.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="col-12" style="text-align:center;">
                <img class="imgHeight" src="~/img/404.png" />
                <div class="">
                    <h2 class="headError">403</h2>

                    <div class="error-content">
                        <h3>@ViewBag.ErrorMessage</h3>
                        <p>
                            Yetkiniz yok. 
                            Bu sayfaya erişim izniniz bulunmamaktadır.
                        </p>
                        <a href="/Cleopatra/Dashboard" class="btn add-buttons-nofloat mb-3">Anasayfaya Dön</a>
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </div>
        </div>
    </div>
</div>
