 <!-- Content Wrapper. Contains page content -->
<link href="~/css/All/404.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="col-12" style="text-align:center;">
                <img src="~/img/404.png" />
                <div class="">
                    <h2 class="headError">404</h2>

                    <div class="error-content">
                        <h3>@ViewBag.ErrorMessage</h3>
                        <p>
                            Aradığınız sayfayı bulamadık.
                            İsterseniz panele dönüp başka bir sayfayı deneyebilirsiniz.
                        </p>
                        <a href="/panel" class="btn add-buttons-nofloat">Anasayfaya Dön</a>
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </div>
        </div>
    </div>
</div>