@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/All/TargetGroup.css" rel="stylesheet" />

<script type="text/javascript" src="~/js/Repository/IRepository.js"></script>
<script type="text/javascript" src="~/js/Services/TargetGroupService.js"></script>

<div class="container-fluid model-bind">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@localizator["Hedef Kitle Test"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body model-bind">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hedef Kitle Tanım</label>
                                    <div class="input-group input-group-select mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-align-justify"></i></span>
                                        </div>
                                        <select id="tanimSelect" data-placeholder="Tanım Seçiniz" class="form-control form-control-sm field-select2" data-text-field="tanim" data-value-field="tabloID" data-bind="source:tanimlar, value:seciliTanim" data-role="dropdownlist" data-value-primitive="true" onchange="HedefKitleTanimChange(this.value)">
                                        </select>
                                    </div>
                                    <span class="k-invalid-msg" data-for="seciliTanim"></span>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="text-align: center" id="hedefK"></h5>
                                    <table id="list" style="width: 100% !important;" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tanım</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody"></tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tanım</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        TargetGroupService.initForTest();
        $("#tanimSelect").change(function () {
            $('#hedefK').text($("#tanimSelect option:selected").text());
        });
    })
</script>